<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrintXpress">

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.PrintXpress.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ProductsActivity" />
        <activity android:name=".PlaceOrderActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".OrdersActivity" />
        <activity android:name=".OrderDetailActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".AddressesActivity" />
        <activity android:name=".DesignsActivity" />
        <activity android:name=".OffersActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".HelpActivity" android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
